output/
infraClass/
src/
/dirAP
/dirCCL
/dirCCS
/dirGenRepos
/dirMuseum
/dirMClient
/dirOClient
dirRegistry
dirRMIRegistry
dirAP.zip
dirCCL.zip
dirCCS.zip
dirGenRepos.zip
dirMuseum.zip
dirMClient.zip
dirOClient.zip
dirRegistry.zip
dirRMIRegistry.zip
clientSide_msg/
serverSide_msg/
/ExecParameters
/ExecParameters_local
*.class

